html {
	font-size: 62.5%;
}
html,
body {
	height: 100%;
}
body {
	font-size: 1.4rem;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
#wrap.article,
#wrap.page {
	background: url("../img/filter.png") repeat;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	color: #fff;
}
h1 {
	font-family: 'Lato','Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	font-size: 3.5rem;
}
h2 {
	margin-top: 5px;
}
@media (min-width: 768px) {
	h1 {
		font-size: 7.2rem;
	}
	.article h1,
	.page h1 {
		font-size: 6rem;
	}
}
.page-header {
	border-bottom: transparent;
	margin:0;
}
.page-header .breadcrumb {
	background: transparent;
}
.article .page-header,
.page .page-header {
	border-bottom: 1px solid #575757;
}
.page-body p {
	font-size: 1.8rem;
}
.page-body h1 {
	font-size: 4rem;
}
img.cover {
}
.container {
	width: auto;
	padding: 0 40px;
}
.container .text-muted {
	margin: 20px 0;
}
.btn-primary {
	background-color: #B30808;
	border-color: transparent;
	font-family: 'Lato','Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
}
.btn-primary:hover, .btn-primary:focus {
	opacity: 0.8;
	background-color: #B30808;
	border-color: transparent;
}
a {
	color: #B30808;
}
a:hover, a:focus {
	color: #B87878;
	text-decoration: none;
}
.lead {
	z-index: 20;
}
h1 small {
	color: #D3D3D3;
}
.container .text-muted {
	margin: 0;
}
/***** footer *****/
#footer {
	display: inline;
	position: absolute;
	bottom: 0;
	min-height: 100px;
	width: 100%;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=40);
}
#footer > .container {
	padding: 15px 40px 10px 40px;
}
@media (max-width: 768px) {
	.ribbon {
		display:none;
	}
	#footer {
		position: relative;
	}
	.container {
		padding: 0 20px;
	}
	#footer > .container {
		padding: 80px 20px 10px 20px;
	}
}
.copyright {
	color: #fff;
	font-size: 16px;
}
.copyright > a{
	color: #fff;
	font-weight: bold;
}
.copyright > a:hover, .copyright > a:focus{
	color: #B30808;
}
#footer p {
}



