@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic';
@import 'https://fonts.googleapis.com/css?family=Ubuntu:400,700';
body{
	font-family: "DejaVu Sans", Arial, sans, Avenir, "Open Sans";
	color: #545454;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
}
#layout,
#menu,
.menu-link {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#layout {
	position: relative;
	padding-left: 0;
}
#layout.active #menu {
	left: 300px;
	width: 300px;
}
#layout.active .menu-link {
	left: 300px;
}
.content {
	margin: 0 auto;
	padding: 0 2em;
	margin-bottom: 50px;
	line-height: 1.6em;
}
.header {
	margin: 0 0 20px;
	color: #333;
	text-align: center;
	padding: 2em;
	border-bottom: 1px solid #eee;
}
.header h1 {
	margin: 0.2em 0 0;
	font-size: 3em;
	font-weight: bold;
	background-color: transparent;
}
.header h2 {
	font-weight: bold;
	color: #a3a3a3;
	padding: 0;
	margin: 0 0 20px;
}
p {
	margin: 0 0 1rem;
	line-height: 1.6em;
}
.content h1 {
	font-weight: bold;
	font-size: 250%;
	/* background-color: #f9f9f9; */
	margin-left: -15px;
	padding: 10px 15px;
	margin-right: -15px;
	background-color: #231f1f;
	margin-bottom: 10px;
	color: #ffffff;
}
.content h2 {
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
}
.content-subhead {
	margin: 50px 0 20px 0;
	font-weight: 300;
	color: #888;
}
table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
}
thead {
	border-bottom: 1px dotted black;
}
th {
	text-align: left;
}

th, td {
	padding: 0.25em;
	vertical-align: top;
	white-space: nowrap;
}
img {
	max-width: 100%;
}
img.img-responsive {
	margin: 10px auto;
}
#menu {
	margin-left: -300px; /* "#menu" width */
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000; /* so the menu or its navicon stays above all content */
	/*background: #191818;*/
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#menu a {
	color: #505050;
	border: none;
	padding: 0.6em 0 0.6em 0.6em;
}
#menu ul {
	border: none;
	background: transparent;
	-webkit-padding-start: 20px;
}
#menu li {
	list-style: none;
	margin: 15px 10px;
	font-family: 'Ubuntu', sans-serif;
}
.menu-link {
	position: fixed;
	display: block; /* show this only on small screens */
	top: 0;
	left: 0; /* "#menu width" */
	background: #000;
	background: rgba(0,0,0,0.7);
	font-size: 10px; /* change this value to increase/decrease button size */
	z-index: 10;
	width: 2em;
	height: auto;
	padding: 2.1em 1.6em;
}
.menu-link:hover,
.menu-link:focus {
	background: #000;
}
.menu-link span {
	position: relative;
	display: block;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
	background-color: #fff;
	width: 100%;
	height: 0.2em;
}
.menu-link span:before,
.menu-link span:after {
	position: absolute;
	margin-top: -0.6em;
	content: " ";
}
.menu-link span:after {
	margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: 48em) {

	.header,
	.content {
		padding-left: 2em;
		padding-right: 2em;
	}

	#layout {
		padding-left: 300px; /* left col width "#menu" */
		left: 0;
	}
	#menu {
		left: 300px;
	}

	.menu-link {
		position: fixed;
		left: 300px;
		display: none;
	}

	#layout.active .menu-link {
		left: 300px;
	}
}

@media (max-width: 48em) {
	/* Only apply this when the window is small. Otherwise, the following
	case results in extra padding on the left:
		* Make the window small.
		* Tap the menu to trigger the active state.
		* Make the window large again.
	*/
	#layout.active {
		position: relative;
		left: 300px;
	}
}